*.out
*.o
*.so
*.vvp
*.vcd
*.vpi

test/actual/*

test/programs/code/asm/*
test/programs/code/bin/*
test/programs/code/mips/*

test/programs/asm/bin/*
test/programs/asm/mips/*

assembler/_build
assembler/_build/*
assembler/main

compiler/_build
compiler/_build/*
compiler/main
