*.out
*.o
*.so
*.vvp
*.vcd
*.vpi

test_bench/actual/*

test_bench/performance/*
test_bench/out/*
test_bench/test_bench

emulator/emulator

test_bench/programs/code/asm/*
test_bench/programs/code/bin/*
test_bench/programs/code/mips/*

test_bench/programs/asm/bin/*
test_bench/programs/asm/mips/*

assembler/_build
assembler/_build/*
assembler/main

compiler/_build
compiler/_build/*
compiler/main
